@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/breakpoints.scss';

.wrapper-footer {
  position: relative;
  width: 100%;
  max-width: 1920px;
  border-width: 4px 4px 0px 4px;
  border-style: solid;
  border-color: $menu;
  border-radius: 64px 64px 0px 0px;
  padding: 1.3% 4%;
  z-index: 5;

  &__container {
    @include flex(row, space-between, normal);

    .footer-nav {
      width: 34.7%;
      padding-top: 2.4%;
      min-width: 552px;

      .nav-contacts {
        @include flex(row, space-between, center);
        @include UL();
       
        &__list-contacts {
          list-style-type: none;
          .contacts {
            @include fonts('Lexend', 1rem, $text, 400);
            text-decoration: none;
            &:hover {
              color: $menu;
              text-decoration-line: underline;
            }
          }
        }
      }
    }

    .social_media {
      @include flex(column, space-between, flex-end);
      @include fonts('Lexend', 1rem, $text, 400);
      width: 40.7%;
      max-width: 272px;

      .nav-contacts-media {
        @include flex(row, space-between, center);
        @include UL();
        width: 100%;


        &__list {
          list-style-type: none;

          .social-media-contact
          .icon {

            &:hover {
              filter: invert(0.1) sepia(0) saturate(80%) opacity(0.9);
            }
          }
        }
      }
    }
  }
}



