@import '../src/styles/colors.scss';

.wrapper {
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 1920px;
  min-height: 1265px;
  border: 1px solid wheat;
  margin: 0 auto;
  overflow: hidden;

  &__left {
    position: absolute;
    width: 574px;
    height: 574px;
    left: calc(50% - 574px/2 + 832px);
    bottom: 0;
    background: linear-gradient(255.96deg, $menu  0%, #9DADF2 100%);
    opacity: 0.7;
    filter: blur(325px);
    z-index: 1;
  }

  &__right {
    position: absolute;
    width: 226.46px;
    height: 1302.47px;
    left: calc(68% - 226.46px/2 - 1153.38px);
    bottom: 15%;
    background: linear-gradient(180deg, $menu 0%, rgba(71, 139, 249, 0.4) 100%);
    opacity: 0.55;
    filter: blur(150px);
    transform: rotate(-54.31deg);
    z-index: 1;
  }

  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

}

